@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome guys!</h1>
    <p>This is a website in which you can track, find and add new films and serials.
</p>
</div>

